{
    "presets": ["es2015", "stage-0", "react"],
    "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "react-hot-loader/babel"
    ],
    "env": {
        "test": {
            "plugins": [
                [
                    "babel-plugin-webpack-alias",
                    {
                        "config": "webpack.config.js"
                    }
                ]
            ]
        }
    }
}
